@import "./../../styles/colors";
@import "./../../styles/breakpoints";

.chat {
  display: flex;
  padding: 0 2px;

  .chat__chat-box {
    box-sizing: border-box;
    border: 2px solid $color-cape-cod;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chat__chat-info {
    width: 100%;
    min-height: 20vh;
  }

  .chat__chat-messages {
    flex: auto;
  }

  @media screen and (max-width: $breakpoint-m) {
    flex-wrap: wrap;

    @media (orientation: landscape) {
      .chat__chat-box {
        height: 100vh;
      }
    }
  }

  @media screen and (min-width: $breakpoint-m) and (max-width: $breakpoint-l) {
    .chat__chat-box {
      width: 60%;
      height: 100vh;
    }

    .chat__chat-info {
      width: 40%;
      height: 100vh;
    }
  }

  @media screen and (min-width: $breakpoint-l) {
    .chat__chat-box {
      width: 50%;
      height: 100vh;
    }

    .chat__chat-info {
      width: 50%;
      height: 100vh;
    }
  }
}
